# requirements.txt
# python 3.10
pyyaml

# Core dependencies
numpy
pandas
geopandas
rasterio
gymnasium
python-dateutil
pytz
wget 


# Data handling and analysis
scipy
shapely
pyproj

# Machine Learning
scikit-learn
torch

# Visualization
matplotlib
seaborn

# Utility libraries
tqdm

# Testing
pytest

# Logging and configuration
python-dotenv

# Jupyter notebooks (if used for development or analysis)
jupyter
ipython

# Additional packages
google-api-python-client
grpcio
grpcio-tools